{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Check letter - {{ letter.student_name }}&nbsp;{{ letter.student_class }}{% endblock %}
{% block content %}
<div class="container">
  <br>
    <section class="pt-5 mb-4">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="">
                    <div class="my-3">
                        <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">                            
                          <div class="animate__animated animate__bounce">
                            <i class="bi bi-check-circle-fill display-1 text-success"></i>
                          </div>
                          <h1 class="text-body-emphasis">Verified</h1>
                          <p class="col-lg-6 mx-auto mb-4">
                           <strong>{{ letter.get_letter_type_display }}</strong>
                           <br>
                           {{ letter.subject }}
                            <div class="form-text">
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Number</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ letter.number }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Student name</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ letter.student_name }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless">
                                    <thead>
                                      <tr class="">
                                        <th colspan="2">[ Signing information ]</th>
                                      </tr>
                                      <tr>
                                        <th scope="col">Institution</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ letter.digital_sign_institution }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Signed by</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ letter.digital_sign_by_name }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Signed at</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ letter.digital_sign_at }}</td>
                                      </tr>
                                      <tr>
                                        <td>{{ letter.digital_sign_location }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                          </p>
                        </div>
                    </div>
                    <!-- {{ letter.get_letter_type_display }}
                    {{ letter.student_name }}
                    {{ letter.student_class }}
                    {{ letter.student_nisn }}
                    {{ letter.subject }}
                    {{ letter.body }} -->
                </div>
            </div>
          </div>
    </section>
</div>
{% endblock %}