{% extends "base/letters/base_letter_sl.html" %}
{% block title %}
<title>Surat Keterangan</title>
{% endblock %}
{% block content %}
<br>
<p class="tab2 lh-normal fs-12">Yang bertanda tangan di bawah ini :</p>
<table id="tb_signator" class="fs-12">
    <tr>
        <td width=13%></td>
        <td>Nama</td>
        <td width=1%>:</td>
        <td>{{ letter.digital_sign_by_name|default_if_none:"-"|upper }}</td>
    </tr>
    <tr>
        <td></td>
        <td>NIP</td>
        <td width=1%>:</td>
        <td>{% if letter.digital_sign_by_name %}196610091998022001{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <td></td>
        <td width=20%>Jabatan</td>
        <td width=1%>:</td>
        <td>{% if letter.digital_sign_job_title == 'Principal' %}Kepala Sekolah{% elif letter.digital_sign_job_title == None %}-{% endif %}</td>
    </tr>
    <tr>
        <td></td>
        <td>Unit Kejra</td>
        <td width=1%>:</td>
        <td>{{ letter.digital_sign_institution|default_if_none:"-" }}</td>
    </tr>
</table>
<p class="tab1 lh-normal fs-12 mb-2">dengan ini menerangkan bahwa :</p>
<table id="tb_student" class="fs-12">
    <tr>
        <td width=13%></td>
        <td>Nama</td>
        <td width=1%>:</td>
        <td>{{ letter.student_name }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Jenis Kelamin</td>
        <td width=1%>:</td>
        <td>
            {% if letter.student_gender == 'L' or letter.student_gender == '1' %}
            Laki-laki
            {% elif letter.student_gender == 'P' or letter.student_gender == '2' %}
            Perempuan
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td width=20%>Tempat, tgl lahir</td>
        <td width=1%>:</td>
        <td>{{ letter.student_place_of_birth }}, {{ letter.student_date_of_birth|date:"d F Y" }}</td>
    </tr>
    <tr>
        <td></td>
        <td>NISN</td>
        <td width=1%>:</td>
        <td>{{ letter.student_nisn }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Rombel</td>
        <td width=1%>:</td>
        <td>{{ letter.student_class }}</td>
    </tr>
</table>
<p class="tab1 lh-normal fs-12">{{ letter.body }}</p>
<br>
<p class="tab2 lh-normal fs-12">Keterangan ini dibuat untuk dipergunakan sebagaimana mestinya.</p>
<br>
<table>
    <tr>
        <td></td>
        <td width=20%></td>
        <td class="fs-12">
            <div class="lh-1s">Jakarta, {{ letter.digital_sign_at|date:"d F Y" }}</div>
            <div>Kepala {{ letter.digital_sign_institution|default_if_none:"-" }}</div>
            {% if letter.qr_code_base64 %}
            <img src="data:image/png;base64,{{ letter.qr_code_base64 }}" width="90px" height="90px" alt="QR Code {{ letter.number }}">
            {% else %}
            <br>
            <br>
            <br>
            {% endif %}
            <div class="mt-1">{{ letter.digital_sign_by_name|default_if_none:"-"|upper }}</div>
            <div>NIP&nbsp;{% if letter.digital_sign_by_name %}196610091998022001{% else %}-{% endif %}</div>
        </td>
    </tr>
</table>
{% endblock %}
{% block footer %}
<!-- <p id="footer_cipta" class="center">&copy; Scheletter Administration | UU No. 11 tahun 2008 tentang Informasi dan Transaksi Elektronik (UU ITE)</p> -->
{% endblock %}