{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Archives{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
        <div class="mb-3">
            <h1 class=""><span class="bi bi-archive"></span>&nbsp;Archives</h1>
        </div>
        <div>
            <p class="lead">List of letter archives</p>
        </div>
    </section>
    <section class="mb-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span class="bi bi-folder"></span>&nbsp;Commons
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% if commons_digital_sign_applied %}
                  <table id="tb_employee_archives" class="table table-hover text-truncate">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col"><i class="bi bi-box-arrow-up-right"></i></th>
                              <th scope="col">Number</th>
                              <th scope="col">Subject</th>
                              <th scope="col">Name</th>
                              <th scope="col">Class</th>
                              <th scope="col">NISN</th>
                              <th scope="col">Signed at</th>
                              <th scope="col">Signed by</th>
                              <th scope="col">Job title</th>
                              <th scope="col">Institution</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for item in commons_digital_sign_applied %}
                          <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{% url 'generate-pdf' letter_id=item.letter_id %}" class="btn btn-sm btn-light" target="_blank"><i class="bi bi-box-arrow-up-right"></i>&nbsp;Check</a></td>
                              <td>{{ item.number }}</td>
                              <td>{{ item.subject }}</td>
                              <td>{{ item.student_name }}</td>
                              <td>{{ item.student_class }}</td>
                              <td>{{ item.student_nisn }}</td>
                              <td>{{ item.digital_sign_at }}</td>
                              <td>{{ item.digital_sign_by_name }}</td>
                              <td>{{ item.digital_sign_job_title }}</td>
                              <td>{{ item.digital_sign_institution }}</td>
                          </tr>
                          {% endfor %}
                     </tbody>
                  </table>
                  {% else %}
                  <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                      <div class="position-relative p-5 text-center text-muted">
                          <i class="bi bi-folder2-open display-3"></i>
                          <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                              No common archives available
                          </p>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <span class="bi bi-folder"></span>&nbsp;Employees
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% if employees_digital_sign_applied %}
                <table id="tb_employee_archives" class="table table-hover text-truncate">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="bi bi-box-arrow-up-right"></i></th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">NISN</th>
                            <th scope="col">Signed at</th>
                            <th scope="col">Signed by</th>
                            <th scope="col">Job title</th>
                            <th scope="col">Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in employees_digital_sign_applied %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'generate-pdf' letter_id=item.letter_id %}"class="btn btn-sm btn-light" target="_blank"><i class="bi bi-box-arrow-up-right"></i>&nbsp;Check</a></td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_class }}</td>
                            <td>{{ item.student_nisn }}</td>
                            <td>{{ item.digital_sign_at }}</td>
                            <td>{{ item.digital_sign_by_name }}</td>
                            <td>{{ item.digital_sign_job_title }}</td>
                            <td>{{ item.digital_sign_institution }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
                </table>
                {% else %}
                <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                    <div class="position-relative p-5 text-center text-muted">
                        <i class="bi bi-folder2-open display-3"></i>
                        <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                            No employee archives available
                        </p>
                    </div>
                  </div>
                {% endif %}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <span class="bi bi-folder"></span>&nbsp;Students
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                {% if students_digital_sign_applied %}
                <table id="tb_student_archives" class="table table-hover text-truncate">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="bi bi-box-arrow-up-right"></i></th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">NISN</th>
                            <th scope="col">Signed at</th>
                            <th scope="col">Signed by</th>
                            <th scope="col">Job title</th>
                            <th scope="col">Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in students_digital_sign_applied %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'generate-pdf' letter_id=item.letter_id %}"class="btn btn-sm btn-light" target="_blank"><i class="bi bi-box-arrow-up-right"></i>&nbsp;Check</a></td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_class }}</td>
                            <td>{{ item.student_nisn }}</td>
                            <td>{{ item.digital_sign_at }}</td>
                            <td>{{ item.digital_sign_by_name }}</td>
                            <td>{{ item.digital_sign_job_title }}</td>
                            <td>{{ item.digital_sign_institution }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
                </table>
                {% else %}
                <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                    <div class="position-relative p-5 text-center text-muted">
                        <i class="bi bi-folder2-open display-3"></i>
                        <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                            No student archives available
                        </p>
                    </div>
                  </div>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
{% endblock %}