{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Students{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
        <div class="mb-3">
            <h1><span class="bi bi-emoji-smile"></span>&nbsp;Students</h1>
        </div>
        <div>
            <p class="lead">Dapodik students reference</p>
        </div>
    </section>
    <section class="mb-5">
      <ul class="nav nav-tabs" id="students-tab" role="tablist">
        <li class="nav-item" role="student-active">
          <button class="nav-link active" id="student-active" data-bs-toggle="tab" data-bs-target="#student-active-pane" type="button" role="tab" aria-controls="student-active-pane" aria-selected="true">Students</button>
        </li>
      </ul>
      <div class="tab-content mt-3" id="students">
        <div class="tab-pane fade show active" id="student-active-pane" role="tabpanel" aria-labelledby="student-active" tabindex="0">
          {% if students %}
          <table id="tb_students" class="table table-hover text-truncate">
              <thead>
                <tr>
                  <th scope="col"><i class="bi bi-check2-circle"></i></th>
                  <th scope="col">Nama</th>
                  <th scope="col">NIS</th>
                  <th scope="col">NISN</th>
                  <th scope="col">L/P</th>
                  <th scope="col">Rombel</th>
                  <th scope="col">NIK</th>
                  <th scope="col">Tempat Lahir</th>
                  <th scope="col">Tanggal Lahir</th>
                  <th scope="col">Tanggal Masuk</th>
                  <th scope="col">Alamat</th>
                  <th scope="col">Kurikulum</th>
                </tr>
              </thead>
              <tbody>
                {% for item in students %}
                <tr>
                  <th scope="row"><i class="bi bi-check2-circle text-primary"></i></th>
                  <td>{{ item.nama }}</td>
                  <td>{{ item.nipd }}</td>
                  <td>{{ item.nisn }}</td>
                  <td>{{ item.jenis_kelamin }}</td>
                  <td>{{ item.nama_rombel }}</td>
                  <td>{{ item.nik }}</td>
                  <td>{{ item.tempat_lahir }}</td>
                  <td>{{ item.tanggal_lahir }}</td>
                  <td>{{ item.tanggal_masuk_sekolah }}</td>
                  <td>{{ item.alamat_jalan }}</td>
                  <td>{{ item.kurikulum_id_str }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="13">
                    <div class="text-center animate__animated animate__headShake">
                      <small class="text-muted fw-semibold"><i class="bi bi-x-circle-fill"></i>&nbsp;No data available</small><br>
                      {% if request.user.groups.first.name == config.opr or user.is_superuser  %}
                      <small class="text-muted">Make sure you have done the <a href="{% url 'setup-integration' %}" class="alert-link">integration settings</a> correctly.</small>
                      {% else %}
                      <small class="text-muted">Contact the operator, check the integration settings and try again.</small>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
    </section>
</div>
{% endblock %}