{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Accounts{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-5">
        {% if messages %}
        <div class="alert alert-success d-flex align-items-center animate__animated animate__fadeInDown animate__slow" role="alert">
          {% for message in messages %}
            <i class="bi-check-circle-fill"></i>
            <div>
              &nbsp;{{ message }}
            </div>
              {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <h1 class=""><span class="bi bi-person-fill-lock"></span>&nbsp;Accounts</h1>
        </div>
        <div>
            <p class="lead">List of accounts</p>
        </div>
    </section>
    <section>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#create-account"><i class="bi bi-person-plus"></i>&nbsp;Create account</button>
        </div>
        <table id="tb_students" class="table table-hover text-truncate">
            <thead>
                <tr>
                    <th scope="col"><i class="bi bi-person-fill"></i></th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Group</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Sign</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr>
                    <td>
                        {% if item.is_active %}
                        <i class="bi bi-person-check text-success"></i>
                        {% else %}
                        <i class="bi bi-person-dash text-danger"></i>
                        {% endif %}
                    </td>
                    <td>{{ item.get_full_name }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.groups.first.name}}</td>
                    <td>
                        {% if item.is_active %}
                        <span class="badge bg-success">Active</span>
                        {% else %}
                        <span class="badge bg-danger">Inactive</span>
                        {% endif %}
                    </td>
                    <td>{{ item.last_login }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Reset password</button>
                            <button type="button" class="btn btn-light">Suspend</button>
                            <button type="button" class="btn btn-light">Delete account</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}