{% load static %}
{% if user.is_authenticated %}
<nav class="navbar bg-white fixed-top shadow-sm">
    <div class="container-fluid px-4">
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static '/assets/img/index/brand_logo_rbd.png'  %}" alt="Logo" width="140rim" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-2" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}"><span><i class="bi bi-grid">&nbsp;</i></span>Dashboard</a>
            </li>
            {% if request.user.groups.first.name == 'Operator' or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'setup-integration' %}"><span><i class="bi bi-shuffle">&nbsp;</i></span>Integrations</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span><i class="bi bi-database">&nbsp;</i></span>Reference data
                </a>
                <ul class="dropdown-menu border-0">
                  <li><a class="dropdown-item" href="{% url 'students' %}"><span><i class="bi bi-emoji-smile">&nbsp;</i></span>Students</a></li>
                  <li><a class="dropdown-item" href="{% url 'employees' %}"><span><i class="bi bi-people">&nbsp;</i></span>Employees</a></li>
                </ul>
            </li>
            {% if request.user.groups.first.name == 'Operator' or user.is_superuser %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span><i class="bi bi-person-check">&nbsp;</i></span>Accounts
                </a>
                <ul class="dropdown-menu border-0">
                  <li><a class="dropdown-item" href="{% url 'accounts' %}"><span><i class="bi bi-person">&nbsp;</i></span>Employees</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span><i class="bi bi-card-list">&nbsp;</i></span>Administration
                </a>
                <ul class="dropdown-menu border-0">
                  {% if request.user.groups.first.name == 'Student Correspondence Staff' or request.user.groups.first.name == 'Employee Correspondence Staff' or user.is_superuser %}
                  <li><a class="dropdown-item" href="{% url 'letter' %}"><span><i class="bi bi-file-earmark-text">&nbsp;</i></span>Create Letter</a></li>
                  {% endif %}
                  {% if request.user.groups.first.name == 'Student Correspondence Staff' or request.user.groups.first.name == 'Employee Correspondence Staff' or request.user.groups.first.name == 'Head of Administration' or user.is_superuser %}
                  <li><a class="dropdown-item" href="{% url 'request-queue' %}"><span><i class="bi bi-list-ol">&nbsp;</i></span>Request Queue&nbsp;<span class="badge bg-primary">2</span></a></li>
                  {% endif %}
                  {% if request.user.groups.first.name == 'Principal' or user.is_superuser %}
                  <li><a class="dropdown-item" href="{% url 'sign-request' %}"><span><i class="bi bi-pen">&nbsp;</i></span>Sign Request&nbsp;{% if count_rs %}<span class="badge bg-primary">{{ count_rs }}</span>{% endif %}</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'guest-book' %}"><span><i class="bi bi-book">&nbsp;</i></span>Guest Book</a></li>
                  <li><a class="dropdown-item" href="{% url 'archives' %}"><span><i class="bi bi-archive">&nbsp;</i></span>Archives</a></li>
                </ul>
            </li>
            {% if request.user.groups.first.name == 'Head of Administration' or 'Principal' or user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'trash' %}"><span><i class="bi bi-trash3">&nbsp;</i></span>Trash&nbsp;{% if count_rtd %}<span class="badge bg-warning">{{ count_rtd }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'statistics' %}"><span><i class="bi bi-graph-up-arrow">&nbsp;</i></span>Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" aria-current="page" href="{% url 'logout' %}"><span><i class="bi bi-power">&nbsp;</i></span>Sign out</a>
            </li>
            {% endif %}
          </ul>
          <hr>
          <strong class="text-dark">{% now "DATE_FORMAT" %}</strong><br>
          <p class="text-dark">{{ request.user.get_full_name }}</p>
          </div>
        </div>
      </div>
    </div>
</nav>
<div class="mb-5"></div>
{% else %}
<nav class="navbar bg-white fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"><span class="fw-semibold">Scheletter</span>&nbsp;Verify</a>
  </div>
</nav>
{% endif %}