{% load static %}
{% if messages %}
{% for message in messages %}
<div class="fixed-bottom container-fluid px-4 mb-4">
  <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}primary{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show d-flex align-items-center shadow animate__animated animate__bounceInUp" role="alert">
      <i class="bi-check-circle-fill"></i>
      <div>
        &nbsp;{{ message }}
      </div>
      <button type="button" class="btn-close animate__animated animate__rotateIn animate__delay-3s" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<script>
setTimeout(function() {
  var audio = new Audio("{% static 'assets/sounds/pop.mp3' %}");
  audio.volume = 0.1;
  audio.play();
}, 150);
</script>
<script>
  var audio = document.getElementById('notificationSound');
  if (audio) {
    audio.play();
  }
</script>
{% endfor %}
{% endif %}
<div class="bg-white">
  <footer class="container-fluid fixed-bottom">
    <div class="d-flex">
      <div><span class="small text-muted">&copy;&nbsp;{% now "Y" %}&nbsp;faturrachmanmochammad.id</span></div>
      <div class="ms-auto small text-muted">v.1.0.0</div>
    </div>
  </footer>
</div>