{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Request Queue{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
        <div class="mb-3">
            <h1 class=""><span class="bi bi-list-ol"></span>&nbsp;Request Queue</h1>
        </div>
        <div>
            <p class="lead">List of request queue</p>
        </div>
    </section>
    <section class="mb-5">
        <ul class="nav nav-tabs mb-3" id="request-queue-tab" role="tablist">
            <li class="nav-item" role="request-queue-active">
              <button class="nav-link active" id="request-queue-active" data-bs-toggle="tab" data-bs-target="#request-queue-active-pane" type="button" role="tab" aria-controls="request-queue-active-pane" aria-selected="true">Staging{% if count_rq %}&nbsp;<span class="badge bg-primary">{{ count_rq }}</span>{% else %}{% endif %}</button>
            </li>
        </ul>
        <div class="tab-content" id="request-queue-a">
            <div class="tab-pane fade show active" id="request-queue-active-pane" role="tabpanel" aria-labelledby="request-queue-active" tabindex="0">
                {% if staging %}
                <table id="tb_staging" class="table table-hover text-truncate">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Action</th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">L/P</th>
                            <th scope="col">NISN</th>
                            <th scope="col">Letter type</th>
                            <th scope="col">Type sign</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in staging %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'send-sign-request' letter_id=item.letter_id %}" class="btn btn-sm btn-success"><span class="bi bi-arrow-90deg-right"></span>&nbsp;Request sign</a>
                                <a href="#" class="btn btn-sm btn-light"><span class="bi bi-box-arrow-up-right"></span>&nbsp;Check</a>
                                <a href="#" class="btn btn-sm btn-light text-warning"><span class="bi bi-pen"></span></a>
                                <a href="#" class="btn btn-sm btn-light text-danger"><span class="bi bi-trash"></span></a>
                            </td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_class }}</td>
                            <td>{{ item.get_student_gender_display }}</td>
                            <td>{{ item.student_nisn }}</td>
                            <td>{{ item.get_letter_type_display }}</td>
                            <td>{{ item.get_type_sign_display }}</td>
                            <td>{{ item.created_at }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
                </table>
                {% else %}
                <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                    <div class="position-relative p-5 text-center text-muted">
                        <i class="bi bi-layers display-3"></i>
                        <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                            No letter available
                        </p>
                    </div>
                  </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="mb-5">
        <ul class="nav nav-tabs mb-3" id="request-queue-tab" role="tablist">
            <li class="nav-item" role="letter-pending">
              <button class="nav-link active" id="letter-pending" data-bs-toggle="tab" data-bs-target="#letter-pending-pane" type="button" role="tab" aria-controls="letter-pending-pane" aria-selected="true">Waiting signature</button>
            </li>
        </ul>
        <div class="tab-content" id="request-queue-b">
            <div class="tab-pane fade show active" id="letter-pending-pane" role="tabpanel" aria-labelledby="letter-pending" tabindex="0">
                {% if digital_sign %}
                <table id="tb_waiting_sign" class="table table-hover text-truncate">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Action</th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">L/P</th>
                            <th scope="col">NISN</th>
                            <th scope="col">Letter type</th>
                            <th scope="col">Type sign</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in digital_sign %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'cancel-letter' letter_id=item.letter_id %}" class="btn btn-sm btn-danger">Cancel</a></td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_class }}</td>
                            <td>{{ item.get_student_gender_display }}</td>
                            <td>{{ item.student_nisn }}</td>
                            <td>{{ item.get_letter_type_display }}</td>
                            <td>{{ item.get_type_sign_display }}</td>
                            <td>{{ item.created_at }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
                </table>
                {% else %}
                <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                    <div class="position-relative p-5 text-center text-muted">
                        <i class="bi bi-card-text display-3"></i>
                        <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                            No waiting signature yet
                        </p>
                    </div>
                  </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="mb-5">
        <ul class="nav nav-tabs mb-3" id="request-queue-tab" role="tablist">
            <li class="nav-item" role="letter-done">
              <button class="nav-link active" id="letter-done" data-bs-toggle="tab" data-bs-target="#letter-done-pane" type="button" role="tab" aria-controls="letter-done-pane" aria-selected="true">Done</button>
            </li>
        </ul>
        <div class="tab-content" id="request-queue-c">
            <div class="tab-pane fade show active" id="letter-done-pane" role="tabpanel" aria-labelledby="letter-done" tabindex="0">
                {% if students_digital_sign_applied %}
                <table id="tb_request_queue" class="table table-hover text-truncate">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="bi bi-box-arrow-up-right"></i></th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">NISN</th>
                            <th scope="col">Signed at</th>
                            <th scope="col">Signed by</th>
                            <th scope="col">Job title</th>
                            <th scope="col">Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in students_digital_sign_applied %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'generate-pdf' letter_id=item.letter_id %}" class="btn btn-sm  btn-light text-primary" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_class }}</td>
                            <td>{{ item.student_nisn }}</td>
                            <td>{{ item.digital_sign_at }}</td>
                            <td>{{ item.digital_sign_by_name }}</td>
                            <td>{{ item.digital_sign_job_title }}</td>
                            <td>{{ item.digital_sign_institution }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
                </table>
                {% else %}
                <div class="tab-pane fade show active" id="trash-pane" role="tabpanel" aria-labelledby="trash" tabindex="0">
                    <div class="position-relative p-5 text-center text-muted">
                        <i class="bi bi-card-text display-3"></i>
                        <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                            No letter done yet
                        </p>
                    </div>
                  </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}