{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-5">
        <div class="mb-3">
            <h1 class=""><span class="bi bi-cloud"></span>&nbsp;Welcome</h1>
        </div>
        <div>
            <p class="lead">You're working in&nbsp;<span class="text-primary">SMP Negeri 290 Jakarta</span></p>
        </div>
    </section>
    <section>
        <div class="mb-4">
            <h4 class="fw-normal">Quick access</h4>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <h5 class="fw-light text-muted"><span class="bi "></span>&nbsp;Management</h5>
            </div>
            <div class="row">
                <div class="col-sm-3 mb-2 mmb-sm-0">
                    <div class="card btn btn-light ">
                      <div class="card-body">
                        <h5 class="card-title">Content 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-3 mb-2 mmb-sm-0">
                    <a href="#" class="text-decoration-none">
                        <div class="card btn btn-light">
                          <div class="card-body">
                            <h5 class="card-title">Content 2</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 mb-2 mmb-sm-0">
                  <div class="card btn btn-light">
                    <div class="card-body">
                      <h5 class="card-title">Content 3</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <h5 class="fw-light text-muted"><span class="bi "></span>&nbsp;Monitoring</h5>
            </div>
            <div class="row">
                <div class="col-sm-3 mb-2 mb-sm-0">
                    <a href="#" class="text-decoration-none">
                        <div class="card btn btn-light">
                          <div class="card-body">
                            <h5 class="card-title">Content 4</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 mb-2 mmb-sm-0">
                    <div class="card btn btn-light">
                      <div class="card-body">
                        <h5 class="card-title">Content 5</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}