{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
      <div class="mb-3">
        <div class="row">
          <div class="col-sm-6">
            <div class="card border border-0">
              <div class="card-body-none">
                <div class="mb-3">
                  <h1 class=""><span class="bi bi-buildings"></span>&nbsp;Welcome</h1>
                </div>
                <div>
                  <p class="lead">You're working in&nbsp;<span class="text-primary">{{school_info.nama|default_if_none:'Please check integration settings'}}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border border-0">
              <div class="card-body-none">
                <h1><span class="bi bi-person-check text-white"></span></h1>
                <p class="lead"><i class="bi bi-person-fill"></i>&nbsp;{{ request.user.get_full_name}}&nbsp;<span class="badge bg-primary">{% if request.user.groups.first.name %}{{ request.user.groups.first.name }}{% else %}Undefined Role{% endif %}{% if user.is_superuser %}&nbsp;-&nbsp;Super User{% endif %}</span></p>
              </div>
            </div>
          </div>
        </div>
        {% if messages %}
        <div class="alert alert-success d-flex align-items-center animate__animated animate__fadeInDown animate__slow" role="alert">
          {% for message in messages %}
            <i class="bi-check-circle-fill"></i>
            <div>
              &nbsp;{{ message }}
            </div>
              {% endfor %}
        </div>
        {% endif %}
      </div>
    </section>
    <section class="mb-5">
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
        <div class="col">
          <div class="card bg-wiretap border-0 rounded-3 shadow">
            <div class="card-body">
              <h5 class="card-title text-white">Students</h5>
              <hr class="text-white" style="border-style: dashed; border-width: 1px;;">
              <p class="animate__animated animate__flipInX card-text display-5 text-white"><i class="bi bi bi-emoji-smile">&nbsp;</i>{{count_std|default_if_none:'0'}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-scooter border-0 rounded-3 shadow">
            <div class="card-body">
              <h5 class="card-title text-white">Employees</h5>
              <hr class="text-white" style="border-style: dashed; border-width: 1px;;">
              <p class="animate__animated animate__flipInX card-text display-5 text-white"><i class="bi bi-people">&nbsp;</i>{{count_emp|default_if_none:'0'}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-asteroid border-0 rounded-3 shadow">
            <div class="card-body">
              <h5 class="card-title text-white">Letters</h5>
              <hr class="text-white" style="border-style: dashed; border-width: 1px;;">
              <p class="animate__animated animate__flipInX card-text display-5 text-white"><i class="bi bi-file-earmark-text">&nbsp;</i>{{count_ltr|default_if_none:'0'}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-turboscent border-0 rounded-3 shadow">
            <div class="card-body">
              <h5 class="card-title text-white">Archives</h5>
              <hr class="text-white" style="border-style: dashed; border-width: 1px;">
              <p class="animate__animated animate__flipInX card-text display-5 text-white"><i class="bi bi-archive">&nbsp;</i>{{count_arc|default_if_none:'0'}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-4">
      <div class="mb-3">
          <div class="row">
            <div class="col-sm-6 mb-4">
              <div class="card border border-0">
                <div class="card-body-none">
                  <div class="mb-3">
                    <h4 class="fw-normal">Quick access</h4>
                    <!-- <h5 class="fw-light text-muted"><span class="bi "></span>&nbsp;Administration</h5> -->
                  </div>
                  <div class="mb-3">
                  </div>
                  <div class="row">
                    {% if request.user.groups.first.name == 'Operator' or user.is_superuser %}
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'setup-integration' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">System Check</h5>
                            <p class="card-text text-muted">Setup integration info</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'accounts' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Accounts</h5>
                            <p class="card-text text-muted">User management</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    {% endif %}
                    {% if request.user.groups.first.name == 'Student Correspondence Staff' or request.user.groups.first.name == 'Employee Correspondence Staff' or request.user.groups.first.name == 'Head of Administration' or user.is_superuser %}
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'letter' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Create Letter</h5>
                            <p class="card-text text-muted">Blank letter</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'request-queue' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Request Queue&nbsp;{% if count_rq %}<span class="animate__animated animate__bounce animate__infinite infinite badge rounded-pill bg-primary">{{ count_rq }}</span>{% endif %}</h5>
                            <p class="card-text text-muted">Digital signature</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    {% endif %}
                    {% if request.user.groups.first.name == 'Principal' or user.is_superuser %}
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'sign-request' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Sign Request&nbsp;{% if count_rs %}<span class="animate__animated animate__bounce animate__infinite infinite badge rounded-pill bg-primary">{{ count_rs }}</span>{% endif %}</h5>
                            <p class="card-text text-muted">Digital signature</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    {% endif %}
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'guest-book' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Guest Book</h5>
                            <p class="card-text text-muted">List of administration guest</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'archives' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Archives</h5>
                            <p class="card-text text-muted">List of archives</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    {% if request.user.groups.first.name == 'Head of Administration' or user.is_superuser %}
                    <div class="col-sm-6 mb-3">
                      <a href="{% url 'trash' %}" class="text-decoration-none">
                        <div class="card btn btn-light border-0 shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Trash</h5>
                            <p class="card-text text-muted">Destruction of archives</p>
                          </div>
                        </div>
                      </a> 
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card border border-0 mb-3">
                <div class="card-body-none">
                  <div class="mb-3">
                    <h4 class="fw-normal">Letters</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Number</th>
                          <th scope="col">Letter</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in last_created %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ item.number }}</td>
                          <td>{{ item.subject}}</td>
                          <td>{{ item.created_at }}</td>
                          <td>
                            {% if item.digital_sign_at %}
                            <span class="text-success bi-check-circle-fill"></span>
                            {% else %}
                            <span class="text-warning bi-record-circle-fill"></span>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5" class="text-muted">Last created</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card border border-0 mb-3">
                <div class="card-body-none">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Number</th>
                          <th scope="col">Letter</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in letter_done %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ item.number }}</td>
                          <td>{{ item.subject }}</td>
                          <td>{{ item.digital_sign_at }}</td>
                          <td><span class="text-success bi-check-circle-fill"></span></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5" class="text-muted">Done</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
</div>
{% endblock %}