{% extends "base/letters/base_letter_el.html" %}
{% block title %}
<title>Surat Tugas</title>
{% endblock %}
{% block content %}
<br>
<table>
    <td width="13%"></td>
    <td><p class="lh-1s fs-12">{{ letter.body_opening }}</p></td>
    <td width="13%"></td>
</table>
<p class="text-center fs-12">MENUGASKAN:</p>
<table id="tb_employee" class="fs-12">
    <tr>
        <td width=13%></td>
        <td width="20%">Kepada</td>
        <td width=1%>:</td>
        <td>{{ letter.employee_name|upper }}</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Untuk</td>
        <td width=1%>:</td>
        <td></td>
    </tr>
</table>
<br>
<table>
    <td width="13%"></td>
    <td><p class="lh-1s fs-12">{{ letter.body_purpose }}</p></td>
    <td width="13%"></td>
</table>
<br>
<table id="tb_event" class="fs-12">
    <tr>
        <td width=13%></td>
        <td>Hari</td>
        <td width=1%>:</td>
        <td>
            {% if letter.date_start == letter.date_end %}
                {{ letter.date_start|date:"l" }}
            {% else %}
                {{ letter.date_start|date:"l" }} s.d. {{ letter.date_end|date:"l" }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Tanggal</td>
        <td width=1%>:</td>
        <td>
            {% if letter.date_start == letter.date_end %}
                {{ letter.date_start|date:"d F Y" }}
            {% else %}
                {{ letter.date_start|date:"d F" }} s.d. {{ letter.date_end|date:"d F Y" }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Waktu</td>
        <td width=1%>:</td>
        <td>Pukul 
            {% if letter.time_start|slice:"5" == letter.time_end|slice:"5" %}
                {{ letter.time_start|slice:"5" }}
            {% else %}
                {{ letter.time_start|slice:"5" }} s.d. {{ letter.time_end|slice:"5" }}
            {% endif %}
            WIB
        </td>
    </tr>
    <tr>
        <td></td>
        <td width=20%>Tempat</td>
        <td width=1%>:</td>
        <td>{{ letter.place_address }}</td>
        <td width="13%"></td>
    </tr>
</table>
<br>
<table>
    <td width="13%"></td>
    <td><p class="lh-1s fs-12">Surat Tugas ini dibuat untuk dilaksanakan dengan sebaik-baiknya dan penuh tanggung jawab.</p></td>
    <td width="13%"></td>
</table>
<br>
<table>
    <tr>
        <td></td>
        <td width=20%></td>
        <td class="fs-12">
            <div class="lh-1s">Dikeluarkan di <i>Jakarta</i></div>
            <div class="lh-2">Pada tanggal {{ letter.digital_sign_at|date:"d F Y" }}</div>
            <div>Kepala {{ letter.digital_sign_institution|default_if_none:"-" }}</div>
            {% if letter.qr_code_base64 %}
            <img src="data:image/png;base64,{{ letter.qr_code_base64 }}" width="90px" height="90px" alt="QR Code {{ letter.number }}">
            {% else %}
            <br>
            <br>
            <br>
            {% endif %}
            <div class="mt-1">{{ letter.digital_sign_by_name|default_if_none:"-"|upper }}</div>
            <div>NIP&nbsp;{% if letter.digital_sign_by_name %}196610091998022001{% else %}-{% endif %}</div>
        </td>
    </tr>
</table>
{% endblock %}
{% block footer %}
<!-- <p id="footer_cipta" class="center">&copy; Scheletter Administration | UU No. 11 tahun 2008 tentang Informasi dan Transaksi Elektronik (UU ITE)</p> -->
{% endblock %}