{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-5">
        <div class="mb-3">
            <h1 class=""><span class="bi bi-shuffle"></span>&nbsp;Setup Integration</h1>
        </div>
        <div>
            <p class="lead">Dapodik data integration settings&nbsp;<span class="text-warning">Complete your setup</span></p>
        </div>
    </section>
    <section class="mb-5 text-left">
      <div class="row">
        <div class="col-lg-4">
          <h2><span class="bi bi-check-circle-fill text-success"></span></h2>
          <h2 class="fw-normal">Dapodik</h2>
          <p class="text-success">Ready</p>
        </div>
        <div class="col-lg-4">
          <h2><span class="bi bi-check-circle-fill text-success"></span></h2>
          <h2 class="fw-normal">Setup Integration</h2>
          <p class="text-success">Ready</p>
        </div>
        <div class="col-lg-4">
          <h2><span class="bi bi-record-circle-fill text-warning"></span></h2>
          <h2 class="fw-normal">Integration</h2>
          <p class="text-warning">Complete your setup</p>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="mb-3">
        <h4 class="fw-normal">Setup Integration</h4>
      </div>
      <div class="mb-3">
        <h5 class="fw-light text-muted"><span class="bi "></span>&nbsp;Complete the form</h5>
      </div>
        <form>
            <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" placeholder="01234327">
                <label for="floatingInputGrid">NPSN</label>
              </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingInputGrid" placeholder="AaBb1234">
                  <label for="floatingInputGrid">Token</label>
                </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4">Connect</button>
        </form>
        <!-- <form>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">NPSN</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Token</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    Example checkbox
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
          </form> -->
    </section>
</div>
{% endblock %}