<nav class="navbar bg-white fixed-top shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}"><span class="fw-semibold">Scheletter</span>&nbsp;Administration</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-2" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'setup_integration' %}">Integrations</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Students
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'students' %}">Active</a></li>
                  <li><a class="dropdown-item" href="{% url 'students' %}">Non-Active</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                GTK
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'gtk' %}">Active</a></li>
                <li><a class="dropdown-item" href="{% url 'gtk' %}">Non-Active</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Graduation
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'graduation' %}">Existing</a></li>
                  <li><a class="dropdown-item" href="#">Archive</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administration
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'letter' %}">Letter</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Accounts
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Employee</a></li>
                  <li><a class="dropdown-item" href="#">Students</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Trash</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Sign out</a>
          </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<div class="mb-5"></div>