{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Check letter - {{ letter.student_name }}&nbsp;{{ letter.student_class }}{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
        <div class="mb-3">
            <h1 class=""><span><i class="bi bi-search"></i></span>&nbsp;Check letter</h1>
        </div>
        <div>
            <p class="lead"></p>
        </div>
    </section>
    <section class="mb-5">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="card card-body shadow text-center">
                    <h4 class="text-center">{{ letter.get_letter_type_display }}</h4>
                    <div class="text-center">{{ letter.number }}</div>
                    <hr>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Student name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ letter.student_name }}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Student Class</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ letter.student_class }}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">NISN</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ letter.student_nisn }}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Regarding</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ letter.subject }}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Reduction</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ letter.body }}</td>
                          </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <hr>
                </div>
                <div class="fixed-bottom">
                    <div class="mb-5 justify-content-md-center text-center">
                        <form method="post" action="{% url 'apply-signature' letter_id=letter.letter_id %}">
                          {% csrf_token %}
                          <a href="{% url 'sign-request' %}" class="btn btn-secondary shadow">Back</a>
                          {% if letter.digital_sign_at %}
                          {% else %}
                          <a href="{% url 'apply-signature' letter_id=letter.letter_id %}" class="btn btn-primary shadow" onclick="return confirm('Are you sure you want to sign the letter:\n\n[{{letter.get_letter_type_display}}]\n{{letter.student_name}} {{letter.student_nisn}}\n{{letter.number}}');"><i class="bi bi-fingerprint"></i>&nbsp;Sign the letter</a>
                          {% endif %}
                        </form>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
{% endblock %}