{% extends 'base/common/base.html' %}
{% load static %}
{% block title%}Sign Request{% endblock %}
{% block content %}
<div class="container">
    <section class="pt-5 mb-4">
        <div class="mb-3">
            <h1 class=""><span class="bi bi-pen"></span>&nbsp;Sign Request</h1>
        </div>
        <div>
            <p class="lead">List of digital sign request</p>
        </div>
    </section>
    <section class="mb-5">
      <ul class="nav nav-tabs" id="sign-request-tab" role="tablist">
        <li class="nav-item" role="sign-request">
          <button class="nav-link active" id="sign-request" data-bs-toggle="tab" data-bs-target="#sign-request-pane" type="button" role="tab" aria-controls="sign-request-pane" aria-selected="true">Request{% if count_rs %}&nbsp;<span class="badge bg-primary">{{ count_rs }}</span>{% else %}{% endif %}</button>
        </li>
        <li class="nav-item" role="signed">
          <button class="nav-link" id="signed" data-bs-toggle="tab" data-bs-target="#signed-pane"-pane" type="button" role="tab" aria-controls="signed-pane" aria-selected="true">Signed letter</button>
        </li>
      </ul>
      <div class="tab-content" id="sign-request">
        <div class="tab-pane fade show active" id="sign-request-pane" role="tabpanel" aria-labelledby="sign-request" tabindex="0">
          <div class="row mt-3">
            {% if digital_sign %}
            {% for item in digital_sign %}
            <div class="col-sm-4 mb-3">
              <div class="card border-light shadow">
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-card-text"></i>&nbsp;{{ item.get_letter_type_display }}</h5>
                  <p class="card-text small"><span class="card-text text-muted">{{ item.number }}</span><br>{{ item.student_name }}&nbsp;{{ item.student_class }}-{{ item.student_nisn }}</p>
                  <hr style="border-style: dashed;">
                  <a href="{% url 'check-letter' letter_id=item.letter_id %}" class="btn btn-light text-primary"><i class="bi bi-search"></i>&nbsp;Check</a>
                  <small class="text-muted">Created on&nbsp;{{ item.created_at|date:"Y-m-d H:i" }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="position-relative p-5 text-center text-muted">
              <i class="bi bi-layers display-3"></i>
              <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                  No letter available to sign
              </p>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="tab-pane fade" id="signed-pane" role="tabpanel" aria-labelledby="signed" tabindex="0">
          <div class="row mt-3">
            {% if digital_sign_applied %}
            {% for item in digital_sign_applied %}
            <div class="col-sm-4 mb-3">
              <div class="card border-light shadow">
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-card-text"></i>&nbsp;{{ item.get_letter_type_display }}</h5>
                  <p class="card-text small"><span class="card-text text-muted">{{ item.number }}</span><br>{{ item.student_name }}&nbsp;{{ item.student_class }}-{{ item.student_nisn }}</p>
                  <hr style="border-style: dashed;">
                  <a href="{% url 'generate-pdf' letter_id=item.letter_id %}" class="btn btn-light text-primary" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                  <small class="text-muted">Signed on {{ item.digital_sign_at|date:"Y-m-d H:i" }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="position-relative p-5 text-center text-muted">
              <i class="bi bi-layers display-3"></i>
              <p class="col-lg-6 mx-auto mb-4 animate__animated animate__headShake">
                  No letter signed yet
              </p>
            </div>
            {% endif %}
            {% if digital_sign_applied %}
            <div class="position-relative p-3 text-center text-muted">
              <div class="col-lg-6 mx-auto mb-4">
                  <a href="{% url 'archives' %}" class="">See more letter...</a>
              </div>
            </div>
            {% endif %}
        </div>
      </div>
    </section>
</div>
{% endblock %}